.body {
    background-color: #56f9d8;
}

.form {
    background-color: #FFFFFF;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #000000;
}

.form input[type="submit"] {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.form input[type="submit"]:hover {
    background-color: #3E8E41;
}

.txt {
    background-color: green;
    color: #000000;
    padding: -10px -10px -10px -10px;
    border: none;
    border-radius: 5px;
    margin-left: 500px;
    margin-right: 500px;
}